@model IEnumerable<climateResearch.Models.Entities.ObservationPoint>

@{
    ViewBag.Title = "Index";
}

<h2>Пункты наблюдений</h2>

<p>
    @Html.ActionLink("Добавить пункт наблюдения", "Create", "ObservationPoints")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longtitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="window.location='/ObservationPoints/Details/@item.Id'">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longtitude)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "ObservationPoints", new { id = item.Id }, null) |
                @Html.ActionLink("Удалить", "Delete", "ObservationPoints", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
